{% extends 'base.html' %}
{% load static %}
{% block title %}GIS{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12">
        <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'lib/leaflet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'lib/leaflet.draw.css' %}">
</head>
<body>
	<div id="map", style="width: 100%; height: 550px"></div>

	<script type="text/javascript" src="{% static 'lib/leaflet.js' %}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>


	<script>
		  var map = L.map('map').setView([-13.2512, 34.3015], 6);
     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="#">OpenStreetMap</a> contributors'
     }).addTo(map);

       var drawnItems = new L.FeatureGroup();
     map.addLayer(drawnItems);
     var drawControl = new L.Control.Draw({
     	// position: 'topright',
		     	draw: {
		    polygon: {
		     shapeOptions: {
		      color: 'purple'
		     },
		     allowIntersection: false,
		     drawError: {
		      color: 'orange',
		      timeout: 1000
		     },
		    },
		    polyline: {
		     shapeOptions: {
		      color: 'red'
		     },
		    },
		    rect: {
		     shapeOptions: {
		      color: 'green'
		     },
		    },
		    circle: {
		     shapeOptions: {
		      color: 'steelblue'
		     },
		    },
		   },
         edit: {
             featureGroup: drawnItems
         }
     });
     map.addControl(drawControl);
      map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;
            drawnItems.addLayer(layer);
        });

     
	</script>


</body>
</html>

    </div>
  </div>
  
      </div>
    </div>

{% endblock %}
